/* WeatherPageStyles.css */

.WeatherPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Updated to 100vh */
  background-color: #eaeaea; /* Light gray background */
  background-image: linear-gradient(
    to bottom,
    #4ca1af,
    #c4e0e5
  ); /* Gradient background */
  color: #333; /* Text color */
}

.WeatherCard {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.MapWrapper {
  width: 100%;
  height: 350px; /* Fixed height for the map */
  border-radius: 10px;
  overflow: hidden; /* Hide overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.WeatherCard button {
  margin-bottom: 10px; /* Adjust the margin as needed */
  cursor: pointer;
}

.WeatherCard button + button {
  margin-left: 5px;
}
